@import './mixin.scss';
.container{
  position: relative;
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
a{
  img{
    width: 100%;
    height: 100%;
  }
}
img{
  width: 100%;
  height: 100%;
}
.banner{
  margin-top: 32px;
  margin-bottom: 50px;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearbox:before,.clearbox:after{
  content: '';
  display: table;
}
.clearbox:after{
  clear: both;
}
input{
  box-sizing: border-box;
  border: none;
}
// 小米滑动图片组件样式
.header-logo{
  width: 55px;
  height: 55px;
  background-color: #ff6600;
  overflow: hidden;
  a{
    display: inline-block;
    width: 110px;
    height: 55px;
    &::before{
      content: " ";
      @include bgImg(55px,55px,'/imgs/mi-logo.png',55px);
      transition: margin .2s;
    }
    &:after{
      content: " ";
      @include bgImg(55px,55px,'/imgs/mi-home.png',55px);
    }
    &:hover:before{
      margin-left: -56px;
    }
  }
}