.container{
  position: relative;
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
a{
  img{
    width: 100%;
    height: 100%;
  }
}
.banner{
  margin-top: 32px;
  margin-bottom: 50px;
}